.shopx_cart_items{
    width: 100%;
    height: 500px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    padding: 20px 30px; 
    z-index: 10;
}
.shopx_cart_items h2{ 
    font-size: 17px;
    margin: 20px 0px;
}

.shopx_cart_items_list{
    width: 100%;
}
.shopx_cart_items_margined{
    margin: 10px 0px;
}
.shopx_cart_items_list_items .title{
    font-size: 14px;
    margin: 3px 0px;
    font-weight: 600;
}
.shopx_cart_items_list_items .delete{
    font-size: 11px;
    margin: 5px 0px;
    font-weight: 500;
    color: rgb(209, 2, 89);
}