.shopx_searched{
    background-color: #fff;
    width: 350px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
}

.shopx_searched_single{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
}

.shopx_searched_single img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.shopx_searched_single_content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction : column;
    margin: 0px 0px 0px 30px;
}
.shopx_searched_single_content h4{
    font-size: 13px;
}
.shopx_searched_single_content p{
    font-size: 11px;
}

.shopx_searched_single:hover{
    background-color: #e9e9e9;
}
.removeHover{
    cursor: default;
}
.removeHover:hover{
    background-color: #fff;
}
