.shopx_sidebar{
    width: 250px;
    height: 115vh;
    border-right: 1px solid #e9e9e9;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-transform:capitalize;
}
.shopx_sidebar_checkbox{
    font-size: 12px;
    display: flex;
    align-items:center;
    margin: 5px 0px;
}
.shopx_sidebar_checkbox label{
    font-size: 13px;
    margin: 0px 4px;
    cursor: pointer;
}
.shopx_sidebar_checkbox input[type=checkbox] {
    accent-color: #469597;
}
.shopx_sidebar .showExpand{
    color: #469597;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.shopx_sidebar .common{
    margin: 10px 0px;
    padding: 10px 5px;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
}
.shopx_sidebar .common .title{
    color: #469597;
    font-size: 13px;
    font-weight: 600;
    margin: 10px 0px;
}
.shopx_sidebar_checkbox_color{
    display: flex;
    justify-content: center;
    align-items : center;
}

@media only screen and (max-width: 780px) {
    .shopx_sidebar{
        flex: 0.8;
    }
}
@media only screen and (max-width: 670px) {
    .shopx_sidebar{
        flex: 1.1;
    }
}