.shopx_products{
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;    
    height: 100vh;
    padding: 10px;
}
.shopx_products_no_product{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 10px;
    font-size: 15px;
    flex-direction : column;
}